body {
  font-family: 'Arvo', serif;
  color: darkgray;
}

h1 {
  position: absolute;
  left: 15px;
  top: -10px;
  color: #efd3ae;
  background-color: #856367;
  width: 400px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  float: left;
}

#container {
  width: 1220px;
  height: 675px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right:auto;
  background-color: #a7b3a5;
  position: relative;
  border-radius: 10px;
}

h3 {
  margin-top: 8px;
}

#intro {
  position: absolute;
  padding-bottom: 10px;
  left: 426px;
  top: 11px;
  color: #eae3ea;
  background-color: #856367;
  width: 775px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  float: left;
}

#main-map {
  position: relative;
  left: 15px;
  top: 60px;
  width: 400px;
  height: 600px;
  display: inline-block;
  border-radius: 5px;
}

#bar-graph {
  position: relative;
  top: 60px;
  margin-left: 25px;
  margin-right: 10px;
  width: 400px;
  height: 600px;
  display: inline-block;
  border-radius: 5px;
}

#ul {
  position: relative;
  top: 60px;
  color: #856367;
  padding: 20px;
  background-color: #eae3ea;
  list-style-type:none;
  width: 320px;
  height: 560px;
  overflow: scroll;
  display: inline-block;
  border-radius: 5px;

}

#ul::-webkit-scrollbar {
  width: 0.5em;
  height: 0em;
}

#ul::-webkit-scrollbar-thumb {
  background-color: #856367;
}

#button {
  background-color: #856367;
  border: none;
  color: #eae3ea;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
